body{
	
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 130%;

}

h1{
	font-family: 'Sacramento', cursive;
	font-size: 5.265rem;
	margin: 0px auto 0px auto;
	color: #66BFBF;
	line-height: 3;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	color: #66BFBF;
	font-weight: bold;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
}
hr{
	border-style: none;
	border-top-style: dotted;
	border-color: #D6E4E5;
	border-width: 8px;							
	width: 5%;
	margin-top: 30px;
	margin-bottom: 60px;
}

.top-container {
	padding-top: 100px;
	background-color: #DEF5E5;
	position: relative;
}
.profile {
	padding-bottom: 20px;
	width: 40%;
	margin: auto;
}

.footer-link {
	color: #11999E;
	text-decoration: none;
	
	
}

.pro {
	text-decoration: underline;
}

.top-cloud {
	position: absolute;
	left: 70%;
	top: 60px;
	
}
.bottom-cloud {
	position: absolute;
	left: 10%;
	top: 280px;4
}
.perfil{
	width: 200px;
	float: center;
	padding-top: 50px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  line-height: 4;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
	
}
.skills{
	
}
.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}
.leadership {
	height: 150px;
	width: 25%;
	float: left;
	margin-right: 30px;
	
}

.struggle {
	height: 150px;
	width: 25%;
	float: right;
	margin-left: 30px;
}
.contact-me {
	width: 40%;
	margin:auto;
}
.bottom-container {
	background-color: #66BFBF;
	padding-bottom: 30px;
	padding-top: 30px;
	word-spacing: 30px;
	font-family: 'Montserrat', sans-serif;
}
.bottom {
	color: #EAF6F6;
	word-spacing: 0;
	font-family: 'Montserrat', sans-serif;
	size: 0.75rem;
}
a:hover {
	color: #EAF6F6;
}